html,body,h3,p,span{
    margin:0;padding:0;font-style: normal;
}
html,body{
    width:100%;height:100%;
}
body{
    overflow: hidden;font-family:"Microsoft Yahei";color:#fff;
}
header{
    width:100%;height:60px;
    background:#168bdb;
    position:fixed;left:0;top:0;
    z-index: 999;
}
a{
    text-decoration: none;color:#fff;
}
/*头部*/
.header a:hover{
    color: #67cbff;
}
.header{
    height:60px;
    display:flex;justify-content: space-between;
}
/*拖动的四个部分*/
#fullpage{
    width:100%;height:400%;position: relative;
}
#fullpage section{
    width:100%;height:25%;position: relative;
}
/*第一屏*/
section:nth-of-type(1){
    background:url("../img/bg.jpg");
}
/*第一屏的云朵*/
section:nth-of-type(1) .top{
    width:100%;position:absolute;left:0;top:0;
}
section:nth-of-type(1) .top .top-cloud{
    width:100%;height:1000px;
    position:absolute;left:0;top:0;
    background: url("../img/cloud_1.png") repeat;
}
section:nth-of-type(1) .middle{
    width:100%;position:absolute;left:0;top:50%;
}
section:nth-of-type(1) .middle .middle-cloud{
    width:100%;height:400px;
    position:absolute;left:0;top:-200px;
    background: url("../img/cloud_2.png") repeat;
}
section:nth-of-type(1) .bottom{
    width:100%;position:absolute;left:0;bottom:0;
}
section:nth-of-type(1) .bottom .bottom-cloud{
    width:100%;height:400px;
    position:absolute;left:0;bottom:0;
    background: url("../img/cloud_3.png") repeat;
}
section:nth-of-type(1) .top .top-cloud,section:nth-of-type(1) .middle .middle-cloud,section:nth-of-type(1) .bottom .bottom-cloud{
    animation: cloudmove 100s linear infinite;
    -webkit-animation: cloudmove 100s linear infinite;
    -moz-animation: cloudmove 100s linear infinite;
}
@keyframes cloudmove {
    0%{
        background-position: 2000px 0;
    }
    50%{
        background-position: 0 0;
    }
    100%{
        background-position: -2000px 0;
    }
}
/*船只*/
.river{
    width:100%;height:126px;position:absolute;left:0;bottom:0;
    background:#0d71cd url("../img/bg1.jpg");
}
.ice1{
    position:absolute;top:-50px;left:-184px;visibility: visible;
    width:265px;height:175px;background: url("../img/hill1.png");
}
.ice2{
    position:absolute;top:-13px;left:65%;visibility: visible;
    width:63px;height:78px;background: url("../img/hill2.png");
}
.ice3{
    position:absolute;top:-48px;left:85%;visibility: visible;
    width:260px;height:175px;background: url("../img/hill3.png");
}
.ship{
    position:absolute;left:20%;bottom:13.5%;visibility: visible;
    width:242px;height:228px;background: url("../img/ship.png");
    z-index: 99;
    animation:ship 2s ease forwards;
}
@keyframes ship {
    100%{
        transform: translateX(20px);
    }
}
/*第一屏的飞机*/
.fly{
    width:450px;height:280px;
    position:absolute;left:40px;top:50px;
}
.baidu{
    width:501px;height:158px;
    position: absolute;top:130px;left:150px;
    background:url("../img/launch.png") no-repeat;
    visibility: visible;
}
.plane{
    width:119px;height:78px;
    position:absolute;top:0;right:-120px;
    background: url("../img/flight.png") no-repeat;
    visibility: visible;
    animation: plane 3s infinite;
}
@keyframes plane {
    0%{
        top:100px;
    }
    50%{
        top:110px;
    }
    100%{
        top:100px;
    }
}
/*登录*/
.login{
    width:340px!important;height:300px;
    border-radius: 5px;
    background: #4ebffc;position:absolute;right: 183px;top:130px;
    z-index: 10;
}
.login-info{
    padding:20px 20px 0 20px;
}
/*用户名*/
.user,.password,.token{
    width:300px;height:40px;background: #fff;
}
.token{
    background: none;
}
.user input,.password input,.token input{
    width:252px;padding:9px;height:20px;border:0;box-sizing: content-box;float: left;outline:none;
}
.error{
    height:20px;
}
/*验证*/
.token input{
    width:122px;
}
.login-action input{
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    width:299px;
    background: #ffd850;
    color: #5c4c12;
    border-radius: 2px;
    cursor: pointer;
}
.user span,.password span{
    width:14px;height:14px;margin:12px 3px 0 10px;
    background:url("../img/icons.png") no-repeat;
    float: left;
}
.user span{
    background-position: -124px -12px;
}
.password span{
    background-position: -140px -12px;
}
/*箭头*/
.arrow{
    width:100%;position:absolute;left:0;bottom:0;
}
.next-page{
    display: block;
    width:30px;height:26px;
    background:url(../img/arrow.png);
    position: absolute;left:50%;bottom:42px;
    visibility: visible;
    animation:arrow 1s infinite;
    -webkit-animation: arrow 1s infinite;
    -moz-animation: arrow 1s infinite;
}
@keyframes arrow {
    0%{
        bottom:42px;
        opacity:1;
    }
    50%{
        bottom:36px;
        opacity:0.5;
    }
    100%{
        bottom:42px;
        opacity:1;
    }
}
/*第二屏*/
section:nth-of-type(2){
    background:url("../img/bg1.jpg") no-repeat;
}
.title{
    position: absolute;left:180px;top:200px;
    width:500px;height:126px;
}
.title i{
    width:66px;height:123px;float:left;
    background: url("../img/lingxian.png") center;
    animation:lingxian 2s infinite;
    -webkit-animation:lingxian 2s infinite;
    -moz-animation:lingxian 2s infinite;
}
@keyframes lingxian {
    0%{
        transform:rotateY(0deg);
    }
    50%{
        transform:rotateY(0deg);
    }
    100%{
        transform:rotateY(360deg);
    }
}
.text{
    position: relative;
    left:20px;
}
.text .main-text{
    font-size: 38px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 48px;
    margin-bottom: 6px;
}
.text p:nth-of-type(2){
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 32px;
    opacity: 0.8;
    z-index: 999;
}
.brain{
    width:444px!important;height:427px;
    position:absolute;right: 183px;top:130px;
    background: url("../img/brain.png");
}
.square{
    width:44px;height:44px;
    position: absolute;bottom:0;
}
.square1{
    background:#35b568;left:70px;
}
.square2{
    width:88px;height:88px;
    left:158px;background:#4ac179;
}
.square3{
    background:#8ae75a;
    left:246px;
}
.square4{
    background: #8ae75a;right:328px;
}
.square5{
    background: #4ac179;right:220px;
}
/*第三屏*/
section:nth-of-type(3){
    background:url("../img/bg2.jpg") no-repeat;
}
section:nth-of-type(3) i{
    background: url("../img/quanmian.png") center;
}
section:nth-of-type(3) .brain{
    background: url("../img/allside.png") no-repeat;
}
section:nth-of-type(3) .river{
    height:138px;
    background:url("../img/bg-3-head.png");
}
section:nth-of-type(3) .bubble{
    background:none;top:-200px;
}
section:nth-of-type(3) .square{
    width:88px;height:88px;
}
section:nth-of-type(3) .square1{
    background: #33bb9a;
    left: 70px;top: 60px;
}
section:nth-of-type(3) .square2{
    background: #29a2b8;
    left: -18px;top: 148px;
}
section:nth-of-type(3) .square3{
    background: #60cf6e;
    left: 158px;top: 148px;
}
section:nth-of-type(3) .square4{
    background: #218BD7;
    left: 70px;top: 236px;
    width:176px;height:176px;
}
section:nth-of-type(3) .square5{
    background: #33bb9a;
    left: 246px;top: 236px;
}
/*第四屏*/
section:nth-of-type(4){
    background:url("../img/bg3.jpg") no-repeat;
}
section:nth-of-type(4) i{
    background: url("../img/zhuanye.png") center;
}
.bubble{
    width:275px;height:245px;
    position: absolute;left:-36px;top:-56px;
    background: url("../img/bubble.png") no-repeat;
    visibility: visible;
}
section:nth-of-type(4) .brain{
    background: url("../img/stat.png") no-repeat;
    background-size: 100%;
}
section:nth-of-type(4) .river{
    height:80px;
    background: none;
}
.copy{
    font-size: 12px;
    line-height: 80px;text-align: center;
}
/*响应式*/
.max{
    display: none;
}
.header .logo{
    width:120px;height:40px;
    background: url("../img/header.png") no-repeat 0 0;
    margin-top:10px;
}
/*小屏菜单样式*/
.min{
    position: relative;
}
.min .header{
    width:100%;
}
.min .menuOption{
    width:25px;height:30px;cursor: pointer;
    position: relative;margin-top: 20px;margin-right: 10px;
}
.before{
    width:25px;height:2px;
    position: absolute;top:10px;left:0;
    background: #fff;
}
.after{
    width:25px;height:2px;
    position: absolute;top:20px;left:0;
    background: #fff;
}
.scene{
    position:absolute;top:60px;left:0;
    width:100%;height:40px;perspective: 500px;
}
.min .menu{
    position: absolute;
    width:100%;height:100%;
    transform-style: preserve-3d;
}
.menu a{
    display: block;text-align: center;line-height: 40px;font-size: 16px;
    width:100%;height:100%;background:rgba(0,0,0,0.8);
    opacity: 0;transform-origin: top;
    transform: rotateX(90deg);
}
@keyframes menu {
    0%{
        opacity: 0;
        transform:rotateX(90deg);
    }
    100%{
        opacity:1;
        transform: rotateX(0deg);
    }
}
@keyframes menu1 {
    0%{
        opacity: 1;
        transform:rotateX(0deg);
    }
    100%{
        opacity:0;
        transform: rotateX(90deg);
    }
}
@media screen and (min-width:1000px){
    .max{
        display: flex;
    }
    .max .header{
        width:1000px;
    }
    .min{
        display: none;
    }
    .header .index{
        align-self: center;margin-top:11px;font-size: 15px;
    }
    .header .last{
        align-self:flex-end;margin-bottom: 9px;font-size: 12px;
    }
    .header a:nth-of-type(5){
        margin-left:160px;
    }
    .header a:nth-of-type(5) i{
        display: inline-block;width:32px;height:25px;
        background:url("../img/header.png") no-repeat -88px -154px;
    }
    .header a:nth-of-type(8){
        color:#FFDA28;
    }
}